body{
    background-color: black;
    
}
.box{
    width: 200px;
    height: 200px;
    margin: auto;
    font-size: 100px;
    padding: auto;
    border-radius: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 300ms;
}
.container{
    background-color: white;
    border: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    
}
#box1{
    background-color: blue;

}
#box2{
    background-color: green;

}
#box3{
    background-color: gray;

}
#box4{
    background-color: purple;

}
#box5{
    background-color: tomato;

}
@keyframes zoom{
   50%{
    transform: rotate(360deg);
   }
    
}
.box:hover{
    scale: 1.2;
    cursor: pointer;
    rotate: 360deg;
    transition: 200ms;
}
